.navbar-background {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-gray-200);
  }
  .home {
    position: relative;
    display: inline-block;
    min-width: 125px;
    z-index: 1;
  }
  .about-us {
    white-space: nowrap;
  }
  .about-us,
  .contact,
  .events,
  .gallery {
    position: relative;
    z-index: 1;
  }
  .navbar-background-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-19xl) var(--padding-57xl);
    position: relative;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-white);
    font-family: var(--font-helvetica-neue);
  }
  .upcoming-events {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .upcoming-events-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 27px;
  }
  .event-name {
    position: relative;
    font-size: var(--font-size-16xl);
    font-family: var(--font-helvetica-neue);
    color: var(--color-gray-100);
    text-align: left;
  }
  .event-name-wrapper {
    cursor: pointer;
    border: 3px solid var(--color-thistle-200);
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--color-whitesmoke);
    align-self: stretch;
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px #cbc3e1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .event-name-container:hover,
  .event-name-wrapper:hover {
    background-color: var(--color-gainsboro);
    border: 3px solid var(--color-lightslategray-100);
    box-sizing: border-box;
  }
  .event-name1 {
    position: relative;
    font-size: var(--font-size-16xl);
    font-family: var(--font-helvetica-neue);
    color: var(--color-gray-100);
    text-align: left;
  }
  .event-name-container {
    cursor: pointer;
    border: 3px solid var(--color-thistle-200);
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--color-whitesmoke);
    align-self: stretch;
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px #cbc3e1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .event-name2 {
    position: relative;
    font-size: var(--font-size-16xl);
    font-family: var(--font-helvetica-neue);
    color: var(--color-whitesmoke);
    text-align: left;
  }
  .event-name-frame {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--color-slategray);
    align-self: stretch;
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px #cbc3e1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .event-name-frame:hover {
    background-color: var(--color-lightslategray-200);
  }
  .event-name3 {
    position: relative;
    font-size: var(--font-size-16xl);
    font-family: var(--font-helvetica-neue);
    color: var(--color-gray-100);
    text-align: left;
  }
  .frame-button {
    cursor: pointer;
    border: 3px solid var(--color-thistle-200);
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--color-whitesmoke);
    align-self: stretch;
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px #cbc3e1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .event-name-wrapper1:hover,
  .event-title:hover,
  .frame-button:hover {
    background-color: var(--color-gainsboro);
    border: 3px solid var(--color-lightslategray-100);
    box-sizing: border-box;
  }
  .frame-container,
  .frame-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-container {
    align-self: stretch;
    gap: 42px;
  }
  .frame-group {
    flex: 1;
    gap: 55px;
    min-width: 396px;
    max-width: 100%;
  }
  .event-info {
    width: 611px;
    height: 594px;
    position: relative;
    background-color: var(--color-thistle-100);
    display: none;
    max-width: 100%;
  }
  .event-name4 {
    margin: 0;
    height: 64px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
  }
  .frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 var(--padding-5xs);
    text-align: left;
    font-size: 48px;
  }
  .blank-line,
  .blank-line1,
  .lorem-ipsum-dolor {
    margin: 0;
  }
  .lorem-ipsum-dolor-container {
    height: 195px;
    flex: 1;
    position: relative;
    font-weight: 300;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .lorem-ipsum-dolor-sit-amet-co-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) 0 var(--padding-sm);
    box-sizing: border-box;
    max-width: 100%;
    color: var(--color-black);
  }
  .kingston-hall-room,
  .pm-700 {
    margin: 0;
  }
  .pm-700-container {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .register-for-event {
    position: relative;
  }
  .frame-wrapper,
  .register-for-event-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .register-for-event-wrapper {
    border-radius: var(--br-3xs);
    background-color: var(--color-slategray);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-10xl);
    white-space: nowrap;
    z-index: 1;
  }
  .frame-wrapper {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
    text-align: left;
    color: var(--color-white);
  }
  .event-info-parent,
  .pm-700-pm-kingston-hall-ro-parent {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .pm-700-pm-kingston-hall-ro-parent {
    display: flex;
    align-items: flex-end;
    gap: 39px;
    max-width: 100%;
  }
  .event-info-parent {
    background-color: var(--color-thistle-100);
    padding: 43px var(--padding-20xl) 53px;
    box-sizing: border-box;
    gap: var(--gap-3xl);
  }
  .event-info-parent,
  .events2-inner,
  .frame-parent,
  .lorem-ipsum {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .lorem-ipsum {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 68px 0 0;
    box-sizing: border-box;
    min-width: 397px;
    text-align: center;
    font-size: var(--font-size-16xl);
  }
  .events2-inner,
  .frame-parent {
    flex-direction: row;
  }
  .frame-parent {
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 44px;
  }
  .events2-inner {
    width: 1417px;
    justify-content: flex-end;
    padding: 0 var(--padding-57xl) 25px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-45xl);
    color: var(--color-gray-100);
    font-family: var(--font-helvetica-neue);
  }
  .section2-background {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    bottom: 0;
    left: -1px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .past-events {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
  }
  .div {
    position: relative;
    display: inline-block;
    min-width: 72px;
  }
  .wrapper {
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-gray-100);
    box-shadow: 0 4px 4px #cbc3e1;
    border: 3px solid var(--color-thistle-200);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-7xl);
    min-width: 84px;
    z-index: 1;
  }
  .div1 {
    position: relative;
    display: inline-block;
    min-width: 72px;
  }
  .container {
    flex: 1;
    border-radius: var(--br-3xs);
    background-color: var(--color-whitesmoke);
    box-shadow: 0 4px 4px #cbc3e1;
    border: 3px solid var(--color-thistle-200);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-7xl);
    min-width: 84px;
    z-index: 1;
    color: var(--color-gray-100);
  }
  .button-register {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 51px;
  }
  .button-register,
  .button-register-wrapper,
  .past-events-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-register-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-20xl) 0 var(--padding-10xl);
    font-size: var(--font-size-13xl);
    color: var(--color-whitesmoke);
  }
  .past-events-parent {
    width: 379px;
    flex-direction: column;
    gap: 46px;
    max-width: 100%;
  }
  .frame-wrapper1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-9xl);
    box-sizing: border-box;
  }
  .frame-child,
  .frame-parent1,
  .frame-wrapper1 {
    align-self: stretch;
    max-width: 100%;
  }
  .frame-child {
    height: 4px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-14xl);
  }
  .event-name5 {
    position: relative;
    font-size: var(--font-size-13xl);
    font-family: var(--font-helvetica-neue);
    color: var(--color-gray-100);
    text-align: left;
  }
  .event-name-wrapper1 {
    cursor: pointer;
    border: 3px solid var(--color-thistle-200);
    padding: var(--padding-3xs) var(--padding-7xl);
    background-color: var(--color-whitesmoke);
    flex: 0.7511;
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px #cbc3e1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 175px;
    max-width: 233px;
    white-space: nowrap;
  }
  .event-name6 {
    position: relative;
    font-size: var(--font-size-13xl);
    font-family: var(--font-helvetica-neue);
    color: var(--color-gray-100);
    text-align: left;
  }
  .event-title {
    cursor: pointer;
    border: 3px solid var(--color-thistle-200);
    padding: var(--padding-3xs) var(--padding-7xl);
    background-color: var(--color-whitesmoke);
    align-self: stretch;
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px #cbc3e1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
  }
  .event-name7 {
    position: relative;
    font-size: var(--font-size-13xl);
    font-family: var(--font-helvetica-neue);
    color: var(--color-whitesmoke);
    text-align: left;
  }
  .event-title-parent,
  .event-title1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .event-title1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-10xl);
    background-color: var(--color-slategray);
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px #cbc3e1;
    overflow: hidden;
    flex-direction: row;
    white-space: nowrap;
    z-index: 1;
  }
  .event-title1:hover {
    background-color: var(--color-lightslategray-200);
  }
  .event-title-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-14xl);
    min-width: 195px;
    max-width: 233px;
  }
  .event-name8 {
    position: relative;
    font-size: var(--font-size-13xl);
    font-family: var(--font-helvetica-neue);
    color: var(--color-gray-100);
    text-align: left;
  }
  .event-name-wrapper2 {
    cursor: pointer;
    border: 3px solid var(--color-thistle-200);
    padding: var(--padding-3xs) var(--padding-7xl);
    background-color: var(--color-whitesmoke);
    align-self: stretch;
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px #cbc3e1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
  }
  .event-name-wrapper2:hover,
  .event-name-wrapper3:hover,
  .event-name-wrapper4:hover {
    background-color: var(--color-gainsboro);
    border: 3px solid var(--color-lightslategray-100);
    box-sizing: border-box;
  }
  .event-name9 {
    position: relative;
    font-size: var(--font-size-13xl);
    font-family: var(--font-helvetica-neue);
    color: var(--color-gray-100);
    text-align: left;
  }
  .event-name-wrapper3,
  .frame-parent2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .event-name-wrapper3 {
    cursor: pointer;
    border: 3px solid var(--color-thistle-200);
    padding: var(--padding-3xs) var(--padding-7xl);
    background-color: var(--color-whitesmoke);
    align-self: stretch;
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px #cbc3e1;
    overflow: hidden;
    flex-direction: row;
    white-space: nowrap;
  }
  .frame-parent2 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-14xl);
    min-width: 195px;
    max-width: 233px;
  }
  .event-name10 {
    position: relative;
    font-size: var(--font-size-13xl);
    font-family: var(--font-helvetica-neue);
    color: var(--color-gray-100);
    text-align: left;
  }
  .event-name-wrapper4 {
    cursor: pointer;
    border: 3px solid var(--color-thistle-200);
    padding: var(--padding-3xs) var(--padding-7xl);
    background-color: var(--color-whitesmoke);
    flex: 0.7511;
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px #cbc3e1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 175px;
    max-width: 233px;
    white-space: nowrap;
  }
  .past-events-wrapper,
  .past-events1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .past-events1 {
    width: 1025px;
    gap: 31px;
    z-index: 2;
  }
  .past-events-wrapper {
    align-self: stretch;
    padding: 0 var(--padding-xl) 36px;
    box-sizing: border-box;
  }
  .event-description {
    height: 122px;
    width: 1441px;
    position: relative;
    background-color: var(--color-thistle-300);
    display: none;
    max-width: 100%;
  }
  .blank-line2,
  .blank-line3,
  .lorem-ipsum-dolor1 {
    margin: 0;
  }
  .lorem-ipsum-dolor-container1 {
    height: 95px;
    width: 1016px;
    position: relative;
    font-weight: 300;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 2;
  }
  .event-description-parent,
  .frame-wrapper2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .event-description-parent {
    flex: 1;
    background-color: var(--color-thistle-300);
    padding: 19px 201px var(--padding-5xs);
    z-index: 1;
  }
  .frame-wrapper2 {
    align-self: stretch;
    padding: 0 0 35px;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
  }
  .frame-inner,
  .frame-item,
  .rectangle-div {
    height: 370px;
    flex: 1;
    position: relative;
    background-color: var(--color-darkgray);
    min-width: 277px;
    max-width: 100%;
    z-index: 1;
  }
  .rectangle-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    max-width: 100%;
  }
  .view-event-gallery {
    position: relative;
    font-size: var(--font-size-16xl);
    font-weight: 300;
    font-family: var(--font-helvetica-neue);
    color: var(--color-white);
    text-align: left;
  }
  .gallery-callto-action,
  .view-event-gallery-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .view-event-gallery-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-10xl);
    background-color: var(--color-gray-100);
    border-radius: var(--br-3xs);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 1;
  }
  .view-event-gallery-wrapper:hover {
    background-color: #4d4d4d;
  }
  .gallery-callto-action {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-7xl);
  }
  .frame-parent3 {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 50px;
    max-width: 100%;
  }
  .view-gallery-button {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  }
  .events2-child,
  .section2-background-parent,
  .view-gallery-button {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .section2-background-parent {
    width: 1439px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 45px 0 49px;
    position: relative;
    gap: 29px;
  }
  .events2-child {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 1px 4px 0;
    text-align: left;
    font-size: var(--font-size-45xl);
    color: var(--color-gray-100);
    font-family: var(--font-helvetica-neue);
  }
  .footer-background {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-gray-200);
  }
  .art,
  .club {
    margin: 0;
  }
  .art-club,
  .copyright {
    position: relative;
    z-index: 1;
  }
  .copyright {
    align-self: stretch;
    font-size: 11.8px;
    line-height: 17px;
    font-family: var(--font-roboto);
    text-align: center;
    display: inline-block;
    min-width: 81px;
  }
  .art-club-parent,
  .frame-wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .art-club-parent {
    align-self: stretch;
    gap: 0.6px;
  }
  .frame-wrapper3 {
    width: 81px;
    padding: 2px 0 0;
    box-sizing: border-box;
    font-size: 28.7px;
    font-family: var(--font-helvetica-neue);
  }
  .materials-a-space-create {
    margin: 0;
    font-size: 24px;
  }
  .get-in-contact,
  .have-any-questions {
    margin: 0;
    font-weight: 300;
  }
  .materials-a-space-container {
    position: relative;
    z-index: 1;
  }
  .materials-a-space-create-ha-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 33px 0 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: var(--font-helvetica-neue);
  }
  .divider-icon {
    width: 1px;
    flex: 1;
    position: relative;
    max-height: 100%;
    z-index: 1;
  }
  .divider-wrapper {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-15xl) 0 0;
    box-sizing: border-box;
  }
  .blank-line4,
  .facebook,
  .instagram {
    margin: 0;
  }
  .instagram-facebook {
    position: relative;
    z-index: 1;
  }
  .instagram-facebook-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) 0 0;
  }
  .blank-line5,
  .e-mail,
  .linkedin {
    margin: 0;
  }
  .linkedin-e-mail {
    position: relative;
    z-index: 1;
  }
  .linkedin-e-mail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) 0 0;
  }
  .about-us1,
  .admin,
  .blank-line6 {
    margin: 0;
  }
  .about-us-admin-container {
    position: relative;
    z-index: 1;
  }
  .about-us-admin-wrapper,
  .footer-background-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
  }
  .footer-background-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-smi) 149px 12px;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-roboto);
  }
  .events2 {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #f2f2f2, #cbc3e1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 68px;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .events2-inner {
      padding-left: var(--padding-19xl);
      padding-right: var(--padding-19xl);
      box-sizing: border-box;
    }
    .event-description-parent {
      padding-left: var(--padding-81xl);
      padding-right: var(--padding-81xl);
      box-sizing: border-box;
    }
    .section2-background-parent {
      padding-top: var(--padding-10xl);
      padding-bottom: 32px;
      box-sizing: border-box;
    }
    .footer-background-parent {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1050px) {
    .upcoming-events {
      font-size: var(--font-size-32xl);
    }
    .event-name,
    .event-name1,
    .event-name2,
    .event-name3 {
      font-size: var(--font-size-9xl);
    }
    .event-name4 {
      font-size: var(--font-size-19xl);
    }
    .lorem-ipsum-dolor-container,
    .pm-700-container {
      font-size: var(--font-size-9xl);
    }
    .past-events {
      font-size: var(--font-size-32xl);
    }
    .div,
    .div1 {
      font-size: var(--font-size-7xl);
    }
    .past-events1 {
      flex-wrap: wrap;
    }
    .lorem-ipsum-dolor-container1 {
      font-size: var(--font-size-7xl);
    }
  }
  @media screen and (max-width: 750px) {
    .navbar-background-parent {
      padding-left: var(--padding-19xl);
      padding-right: var(--padding-19xl);
      box-sizing: border-box;
    }
    .frame-container {
      gap: 21px 42px;
    }
    .frame-group {
      gap: 27px 55px;
      min-width: 100%;
    }
    .pm-700-pm-kingston-hall-ro-parent {
      gap: 19px 39px;
    }
    .event-info-parent {
      padding-top: var(--padding-9xl);
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
    }
    .lorem-ipsum {
      padding-top: 44px;
      box-sizing: border-box;
      min-width: 100%;
    }
    .frame-parent {
      gap: var(--gap-3xl);
    }
    .frame-parent1 {
      gap: 16px 33px;
    }
    .past-events1 {
      gap: 31px 15px;
    }
    .event-description-parent {
      padding-left: var(--padding-31xl);
      padding-right: var(--padding-31xl);
      box-sizing: border-box;
    }
    .frame-parent3 {
      gap: 25px 50px;
    }
    .section2-background-parent {
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-2xl);
      box-sizing: border-box;
    }
    .footer-background-parent {
      padding-left: var(--padding-55xl);
      padding-right: var(--padding-55xl);
      box-sizing: border-box;
    }
    .events2 {
      gap: 34px 68px;
    }
  }
  @media screen and (max-width: 450px) {
    .upcoming-events {
      font-size: var(--font-size-19xl);
    }
    .event-name,
    .event-name1,
    .event-name2,
    .event-name3 {
      font-size: var(--font-size-2xl);
    }
    .event-name4 {
      font-size: 29px;
    }
    .lorem-ipsum-dolor-container,
    .pm-700-container {
      font-size: var(--font-size-2xl);
    }
    .past-events {
      font-size: var(--font-size-19xl);
    }
    .div,
    .div1 {
      font-size: var(--font-size-lgi);
    }
    .button-register {
      gap: 25px;
    }
    .past-events-parent {
      gap: 23px 46px;
    }
    .event-name-wrapper1,
    .event-name-wrapper4 {
      flex: 1;
    }
    .lorem-ipsum-dolor-container1 {
      font-size: var(--font-size-lgi);
    }
    .event-description-parent {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .art-club {
      font-size: 23px;
    }
    .footer-background-parent {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
