.navbar-background2 {
  height: calc(100% - 23px);
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 23px;
  left: 0;
  background-color: var(--color-gray-300);
}
a {
  text-decoration: none;
  color: inherit;
}
.home2 {
  position: relative;
  display: inline-block;
  min-width: 125px;
  z-index: 1;
}
.about-us2 {
  white-space: nowrap;
}
.about-us2,
.contact2,
.events3,
.gallery3 {
  position: relative;
  z-index: 1;
}
.navbar-background-container {
  align-self: stretch;
  height: 148px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-19xl) var(--padding-57xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-helvetica-neue);
}
.gallery4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.single-event {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-23xl) 0 40px;
}
.empty-space {
  position: relative;
  display: inline-block;
  min-width: 72px;
}
.home-page {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px #cbc3e1;
  border: 3px solid var(--color-thistle-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-7xl);
}
.div2 {
  position: relative;
  display: inline-block;
  min-width: 72px;
}
.home-page1,
.navigation-background {
  flex-direction: row;
  justify-content: flex-start;
}
.home-page1 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke);
  box-shadow: 0 4px 4px #cbc3e1;
  border: 3px solid var(--color-thistle-200);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-7xl);
  color: var(--color-gray-200);
}
.navigation-background {
  align-self: stretch;
  gap: var(--gap-32xl);
  font-size: var(--font-size-13xl);
  color: var(--color-whitesmoke);
}
.event-list,
.event-list-wrapper,
.navigation-background {
  display: flex;
  align-items: flex-start;
}
.event-list {
  width: 311px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.event-list-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-9xs) var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-gray-200);
  font-family: var(--font-helvetica-neue);
}
.frame-child3 {
  align-self: stretch;
  height: 4px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.event-name-text {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-helvetica-neue);
  color: var(--color-gray-200);
  text-align: left;
}
.mediums-label {
  cursor: pointer;
  border: 3px solid var(--color-thistle-200);
  padding: var(--padding-3xs) var(--padding-7xl);
  background-color: var(--color-whitesmoke);
  flex: 0.7511;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px #cbc3e1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 175px;
  max-width: 233px;
  white-space: nowrap;
}
.footer-background2:hover,
.mediums-label:hover {
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-lightslategray-100);
  box-sizing: border-box;
}
/* .event-name13 {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-helvetica-neue);
  color: var(--color-gray-200);
  text-align: left;
} */
.footer-background2 {
  cursor: pointer;
  border: 3px solid var(--color-thistle-200);
  padding: var(--padding-3xs) var(--padding-7xl);
  background-color: var(--color-whitesmoke);
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px #cbc3e1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
/* .event-name14 {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-helvetica-neue);
  color: var(--color-whitesmoke);
  text-align: left;
} */
.footer-background3,
.mediums-label1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-background3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-10xl);
  background-color: var(--color-slategray);
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px #cbc3e1;
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.footer-background3:hover {
  background-color: var(--color-lightslategray-200);
}
.mediums-label1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-14xl);
  min-width: 195px;
  max-width: 233px;
}
/* .event-name15 {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-helvetica-neue);
  color: var(--color-gray-200);
  text-align: left;
} */
.event-name-wrapper {
  cursor: pointer;
  border: 3px solid var(--color-thistle-200);
  padding: var(--padding-3xs) var(--padding-7xl);
  background-color: var(--color-whitesmoke);
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px #cbc3e1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.event-name-wrapper:hover /* .event-name-wrapper7:hover, .mediums-label3:hover*/ {
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-lightslategray-100);
  box-sizing: border-box;
}

.event-name-wrapper:focus /* .event-name-wrapper7:hover, .mediums-label3:hover*/ {
  background-color: var(--color-slategray);
  border: 3px solid var(--color-lightslategray-100);
  box-sizing: border-box;
}

.event-name-wrapper2 {
  cursor: pointer;
  border: 3px solid var(--color-thistle-200);
  padding: var(--padding-3xs) var(--padding-7xl);
  background-color: var(--color-whitesmoke);
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px #cbc3e1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.event-name-wrapper2:hover /* .event-name-wrapper7:hover, .mediums-label3:hover*/ {
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-lightslategray-100);
  box-sizing: border-box;
}

.event-name-wrapper2:focus /* .event-name-wrapper7:hover, .mediums-label3:hover*/ {
  background-color: var(--color-slategray);
  border: 3px solid var(--color-lightslategray-100);
  box-sizing: border-box;
  color:white;
}

/* .event-name16 {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-helvetica-neue);
  color: var(--color-gray-200);
  text-align: left;
} */
/* .event-name-wrapper7, */
.mediums-label2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
/* .event-name-wrapper7 {
  cursor: pointer;
  border: 3px solid var(--color-thistle-200);
  padding: var(--padding-3xs) var(--padding-7xl);
  background-color: var(--color-whitesmoke);
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px #cbc3e1;
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
} */
.mediums-label2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-14xl);
  min-width: 195px;
  max-width: 233px;
}
/* .event-name17 {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-helvetica-neue);
  color: var(--color-gray-200);
  text-align: left;
} */
.mediums-label3,
.past-events-container,
.past-events2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.mediums-label3 {
  cursor: pointer;
  border: 3px solid var(--color-thistle-200);
  padding: var(--padding-3xs) var(--padding-7xl);
  background-color: var(--color-whitesmoke);
  flex: 0.7511;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px #cbc3e1;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
  min-width: 175px;
  max-width: 233px;
  white-space: nowrap;
}
.past-events-container,
.past-events2 {
  justify-content: center;
  max-width: 100%;
}
.past-events2 {
  width: 1025px;
  gap: var(--gap-12xl);
  z-index: 1;
}
.past-events-container {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-mid) var(--padding-2xl);
  box-sizing: border-box;
}
.event-description1 {
  height: 122px;
  width: 1441px;
  position: relative;
  background-color: var(--color-thistle-300);
  display: none;
  max-width: 100%;
}
.blank-line4,
.blank-line5,
.lorem-ipsum-dolor3 {
  margin: 0;
}
.lorem-ipsum-dolor-container2 {
  height: 95px;
  width: 1016px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.event-description-group,
.frame-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.event-description-group {
  flex: 1;
  background-color: var(--color-thistle-300);
  padding: var(--padding-lgi) var(--padding-181xl) var(--padding-5xs);
}
.frame-section {
  align-self: stretch;
  padding: 0 0 var(--padding-mid);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-helvetica-neue);
}
.frame-child4,
.frame-child5,
.rectangle-textarea {
  background-color: var(--color-darkgray-100);
  align-self: stretch;
  position: relative;
}
.frame-child4 {
  flex: 1;
}
.frame-child5,
.rectangle-textarea {
  border: 0;
  height: 294px;
  width: auto;
  outline: 0;
}
.frame-child5 {
  height: 241px;
}
.rectangle-container {
  height: 1071px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 400px;
  max-width: 100%;
}
.footer-background-child,
.footer-background-item {
  border: 0;
  background-color: var(--color-darkgray-100);
  height: 244px;
  width: 504px;
  outline: 0;
  position: absolute;
  top: 562px;
  left: 315px;
}
.footer-background-item {
  height: 220px;
  width: 295px;
  top: 318px;
  left: 525px;
}
.footer-background-inner,
.footer-divider {
  position: absolute;
  top: 268px;
  left: 0;
  background-color: var(--color-darkgray-100);
  width: 296px;
  height: 434px;
}
.footer-background-inner {
  left: 315px;
  width: 190px;
  height: 270px;
}
.footer-background-child1 {
  top: 0;
  left: 525px;
  width: 294px;
}
.footer-background-child1,
.footer-background-child2,
.footer-background-child3 {
  position: absolute;
  background-color: var(--color-darkgray-100);
  height: 294px;
}
.footer-background-child2 {
  
  border: 0;
  width: 504px;
  outline: 0;
  top: 830px;
  left: 315px;
}
.footer-background-child3 {
  top: 726px;
  left: 1px;
  width: 294px;
}
.frame-child6 {
  width: 505px;
  height: 244px;
  position: relative;
  background-color: var(--color-darkslategray);
  display: none;
  max-width: 100%;
}
.artist-name,
.title {
  margin: 0;
}
.mediums,
.title-artist-name-container {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.title-artist-name-container {
  width: 211px;
  height: 97px;
}
.mediums {
  width: 100px;
  min-width: 100px;
}
.mediums-wrapper,
.rectangle-parent1 {
  display: flex;
  justify-content: flex-start;
}
.mediums-wrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 57px 0 54px;
  font-size: var(--font-size-5xl);
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 505px;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-28xl) var(--padding-xl) var(--padding-28xl)
    var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.footer-background4 {
  height: 1124px;
  flex: 1;
  position: relative;
  min-width: 533px;
  max-width: 100%;
}
.frame-parent6 {
  width: 1240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-main,
.frame-wrapper6 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.frame-wrapper6 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-helvetica-neue);
}
.frame-main {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.footer-background5 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
}
.art2,
.club2 {
  margin: 0;
}
.art-club2,
.copyright2 {
  position: relative;
  z-index: 1;
}
.copyright2 {
  align-self: stretch;
  font-size: var(--font-size-xs-8);
  line-height: 17px;
  font-family: var(--font-roboto);
  text-align: center;
  display: inline-block;
  min-width: 81px;
}
.art-club-container,
.frame-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.art-club-container {
  align-self: stretch;
  gap: var(--gap-12xs-6);
}
.frame-wrapper7 {
  width: 95px;
  padding: var(--padding-11xs) var(--padding-sm) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-9xl-7);
  font-family: var(--font-helvetica-neue);
}
.materials-a-space-create2 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.get-in-contact2,
.have-any-questions2 {
  margin: 0;
  font-weight: 300;
}
.materials-a-space-container2 {
  position: relative;
  z-index: 1;
}
.materials-a-space-create-ha-frame {
  width: 356px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
  font-family: var(--font-helvetica-neue);
}
.divider-icon2 {
  width: 1px;
  flex: 1;
  position: relative;
  max-height: 100%;
  z-index: 1;
}
.divider-frame {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.instagram2 {
  color: inherit;
  position: relative;
  display: inline-block;
  min-width: 120px;
  z-index: 1;
}
.instagram-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) 0 0;
  font-family: var(--font-roboto);
}
.e-mail2 {
  color: inherit;
  position: relative;
  display: inline-block;
  min-width: 76px;
  z-index: 1;
}
.e-mail-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) 0 0;
}
.admin2 {
  color: inherit;
  position: relative;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.admin-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-16xl) 0 0;
}
.footer-background-container,
.gallery2 {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.footer-background-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-mid) var(--padding-141xl) var(--padding-5xs)
    var(--padding-139xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.gallery2 {
  width: 100%;
  background: linear-gradient(180deg, #f2f2f2, #cbc3e1);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .event-description-group {
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
    box-sizing: border-box;
  }
  .footer-background-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .gallery4 {
    font-size: var(--font-size-32xl);
  }
  .div2,
  .empty-space {
    font-size: var(--font-size-7xl);
  }
  .past-events2 {
    flex-wrap: wrap;
  }
  .lorem-ipsum-dolor-container2 {
    font-size: var(--font-size-7xl);
  }
  .rectangle-container {
    flex: 1;
  }
  .title-artist-name-container {
    font-size: var(--font-size-13xl);
  }
  .frame-parent6 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .navbar-background-container {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .past-events2 {
    gap: 31px 15px;
  }
  .event-description-group {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .footer-background4,
  .rectangle-container {
    min-width: 100%;
  }
  .footer-background-container {
    padding-left: var(--padding-60xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
  .gallery2 {
    gap: 23px 46px;
  }
}
@media screen and (max-width: 450px) {
  .gallery4 {
    font-size: var(--font-size-19xl);
  }
  .single-event {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .div2,
  .empty-space {
    font-size: var(--font-size-lgi);
  }
  .navigation-background {
    gap: 51px 25px;
  }
  .mediums-label,
  .mediums-label3 {
    flex: 1;
  }
  .lorem-ipsum-dolor-container2 {
    font-size: var(--font-size-lgi);
  }
  .event-description-group {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .title-artist-name-container {
    font-size: var(--font-size-5xl);
  }
  .mediums {
    font-size: var(--font-size-lgi);
  }
  .art-club2 {
    font-size: var(--font-size-4xl);
  }
  .admin2,
  .e-mail2,
  .instagram2 {
    font-size: var(--font-size-xl);
  }
  .footer-background-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}